@tailwind base;
@tailwind components;
@tailwind utilities;

@import './lib/design-system/tokens/base.css';
@import './lib/design-system/themes/light.css';
@import './lib/design-system/themes/dark.css';

@layer utilities {
	.animation-delay-2000 {
		animation-delay: 2s;
	}
	.animation-delay-4000 {
		animation-delay: 4s;
	}
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@tailwind screens;