name: Create release

# Workflow runs when manually triggered using the UI or API.
on:
    workflow_dispatch:
        # Inputs the workflow accepts.
        inputs:
            version:
                # Friendly description to be shown in the UI instead of 'name'
                description: 'Semver type of new version (major / minor / patch)'
                required: true
                type: choice
                options:
                    - patch
                    - minor
                    - major

jobs:
  tag-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: Set up Node.js and pnpm
        uses: pnpm/setup-pnpm@v1
        with:
          node-version: '16.x'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint code
        run: pnpm lint

      - name: Check code
        run: pnpm check
      - name: Set up Git
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Bump version in package.json
        id: bump_version
        run: |
          current_version=$(node -p -e "require('./package.json').version")
          new_version=$(pnpm version ${{ github.event.inputs.version }})
          echo "::set-output name=version::${new_version//v/}"

      - name: Create tag and push it
        id: create_tag
        run: |
          tag=v${{ steps.bump_version.outputs.version }}
          git tag $tag
          git push origin $tag

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create v${{ steps.bump_version.outputs.version }} \
            --generate-notes \
            --title "Release v${{ steps.bump_version.outputs.version }}" \
            --target main
