name: Create release

# Workflow runs when manually triggered using the UI or API.
on:
    workflow_dispatch:
        # Inputs the workflow accepts.
        inputs:
            version:
                # Friendly description to be shown in the UI instead of 'name'
                description: 'Semver type of new version (major / minor / patch)'
                required: true
                type: choice
                options:
                    - patch
                    - minor
                    - major

jobs:
    tag-and-release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout source
              uses: actions/checkout@v3
              with:
                  ssh-key: ${{ secrets.DEPLOY_KEY }}
            - uses: actions/checkout@v3
            - uses: pnpm/action-setup@v2.2.4
            - uses: actions/setup-node@v3
              with:
                  node-version: '16.x'
                  cache: pnpm

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Lint code
              run: pnpm lint

            - name: Check code
              run: pnpm check
            - name: Set up Git
              run: |
                  git config --global user.name "${{ github.actor }}"
                  git config --global user.email "${{ github.actor }}@users.noreply.github.com"

            - name: Bump version in package.json
              id: bump_version
              run: |
                  npm version ${{ github.event.inputs.version }}
                  echo "::set-output name=version::$(npm view version)"

            - name: Create tag and push it
              id: create_tag
              run: |
                  tag=${{ steps.bump_version.outputs.version }}
                  git tag $tag
                  git push origin $tag
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    create-release:
        runs-on: ubuntu-latest
        needs: bump-version
        steps:
          - name: Set up Git
            run: |
              git config --global user.name "${{ github.actor }}"
              git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          - name: Create release
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              VERSION: ${{ needs.bump-version.outputs.version }}
            run: |
              gh release create v${{ env.VERSION }} \
                --generate-notes \
                --title "Release v${{ env.VERSION }}" \
                --target main