name: Create Release and Tag

on:
    push:
        branches:
            - main

jobs:
    create_release:
        runs-on: ubuntu-latest
        environment: PROD
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - uses: actions/setup-node@v5
              with:
                  node-version: lts/*
                  cache: 'pnpm'
                  registry-url: https://npm.pkg.github.com
            - uses: pnpm/action-setup@v4
              with:
                  version: 8.6.12
            - name: Configure 1Password Service Account
              if: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN != '' }}
              uses: 1password/load-secrets-action/configure@v1
              with:
                  service-account-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
            - name: Load secret
              if: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN != '' }}
              uses: 1password/load-secrets-action@v1
              env:
                  AUTH_TOKEN: op://IT/GitHub/CREDENTIALS/personal_token
            - run: pnpm install --frozen-lockfile
            - name: Run Semantic Release
              run: pnpm exec semantic-release --branches main
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NODE_AUTH_TOKEN: ${{ env.AUTH_TOKEN }}
