name: Create release

# Workflow runs when manually triggered using the UI or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      version:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Semver type of new version (major / minor / patch)'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source
        uses: actions/checkout@v2
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2.2.4
      - uses: actions/setup-node@v2.4.2
        with:
          node-version: '16.x'
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm lint
      - run: pnpm check

      - name: Setup Git
        run: |
          git config user.name 'Guy MANDINA'
          git config user.email 'guyghost@gmail.com'
      - name: bump version
        run: npm version ${{ github.event.inputs.version }}
      - name: Push the tag
        run: git push --follow-tags
      - name: Get the latest tag
        run: git describe --tags --abbrev=0
        id: latest_tag
      - name: Create Release
        run: gh release create v${{ steps.latest_tag.outputs.stdout }} --generate-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
