name: Create Release and Tag

on:
    push:
        branches:
            - main

jobs:
    create_release:
        runs-on: ubuntu-latest
        environment: PROD

        steps:
            - uses: actions/checkout@v3

            - uses: actions/setup-node@v3
              with:
                  node-version: lts/*
                  registry-url: 'https://npm.pkg.github.com'

            - uses: pnpm/action-setup@v2
              with:
                  version: 8.6.3

            - name: Configure 1Password Service Account
              uses: 1password/load-secrets-action/configure@v1
              with:
                  service-account-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

            - name: Load secret
              uses: 1password/load-secrets-action@v1
              env:
                  AUTH_TOKEN: op://IT/GitHub/CREDENTIALS/personal_token

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Run Semantic Release
              run: npx semantic-release --branches main
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NODE_AUTH_TOKEN: ${{ env.AUTH_TOKEN }}
