name: Lint

on:
    push:
        branches:
            - main
    pull_request:

# cancel in-progress runs on new commits to same PR (gitub.event.number)
concurrency:
    group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
    cancel-in-progress: true

permissions:
    contents: read # to fetch code (actions/checkout)

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'pnpm'

      - name: Enable corepack and set pnpm version
        run: |
          corepack enable
          corepack prepare pnpm@8.6.12 --activate

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm run lint
