name: Publish to GitHub Packages
on:
    release:
        types: [created]

jobs:
    publish:
        runs-on: ubuntu-latest
        environment: PROD
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: lts/*
                  registry-url: 'https://npm.pkg.github.com'
            - uses: pnpm/action-setup@v2
              with:
                  version: 7.17.1
            - run: pnpm install
            - run: pnpm build
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
            - run: npm publish
              working-directory: ./package
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
