name: Publish to GitHub Packages
on:
    push:
        tags:
            - 'v*'
jobs:
    publish:
        runs-on: ubuntu-latest
        environment: PROD
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: lts/*
                  registry-url: 'https://npm.pkg.github.com'
            - uses: pnpm/action-setup@v2
              with:
                  version: 7.17.1
            - run: pnpm install
            - name: Creating .npmrc
              run: |
                  cat << EOF > "$HOME/.npmrc"
                    engine-strict=true
                    @NjingaBV:registry=https://npm.pkg.github.com
                    //registry.npmjs.org/:_authToken=$NODE_AUTH_TOKEN
                  EOF
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
            - run: pnpm package
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
    create-github-release:
        name: Create GitHub Release
        runs-on: ubuntu-latest
        needs: publish
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Create Release
              run: gh release create ${{ github.ref }} --generate-notes
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
